<h1> Edit Wiki </h1>
<div class="col-md-8">
    <%= form_for new_topic_article_path do |f| %>
      <div class="form-group">
        <%= f.label :title %></br>
          <%= f.text_field :title, placeholder: "Enter title" %>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8 , class: 'form-control', placeholder: "Enter description" %>
        </div>
      </div>
          <%= f.submit "Save", class: 'btn btn-success' %>
    <% end %>

  </div>
</div>