<h1>Create a Wiki </h1>



<div class="col-md-8">
     <%= form_for [ @topic, @article] do |f| %>
     <div class="form-group">
       <%= f.label :title %>
       <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
      </div>
      <div class="media-body">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 12, class: 'form-control', placeholder: "Enter wiki description" %>
        <%= f.hidden_field :topic_id, :value => @topic_id %>
      </div>
     <div>
       <%= f.submit "Save", class: 'btn btn-primary' %>
      <% end %>
    </div>

