<h1>Create a Wiki </h1>



  <div class="col-md-8">
  <%= form_for [ @topic, @article] do |f| %>
    <div class="form-group">
      <%= f.submit "Save", class: 'btn btn-primary' %>
       <%= f.text_field :title, id: 'label', placeholder: "Enter wiki title here" %>
     </div>
     <div class="form-group">
       <%= f.text_area :body, rows: 28, cols: 200,  placeholder: "Enter wiki text here (You can also use Markdown)" %>
      <%= f.hidden_field :topic_id, :value => @topic_id %>
      </div>
      <% end %>
    </div> 

