<h1>Edit Topic</h1>

  <div class="col-md-8">
    <%= form_for @topic do |f| %>
      <div class="form-group">
        <%= f.label :name %></br>
          <%= f.text_field :name, placeholder: "Enter topic name" %>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, rows: 8 , class: 'form-control', placeholder: "Enter topic description" %>
        </div>
      </div>
          <%= f.submit "Save", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>