<h1><%= markdown @topic.name %></h1>


  <%= link_to "Edit Topic", edit_topic_path(@topic), class: 'btn btn-primary' %>
  <%= link_to "New Post", new_topic_article_path(@topic), class: 'btn btn-primary' %>
  <%= link_to "View Topics", topics_path(@topic), class: 'btn btn-primary' %>



  <div class="row">
    <div class="col-md-8">
      <p class="lead"><%= markdown @topic.description %></p>
    </div>
    <div class="col-md-8">
      <div class="">
          <% @topic.articles.each do |article| %>
            <h3><%= link_to article.title, topic_article_url(@topic, article) %></h3>
          <% end %>
        </div>
    </div>
  </div>
