

<div class="jumbotron">

<h1 class="banner">Post/Rank</h1>
<h4>Post and collaborate on wiki's</h4>
<p id="signup">
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %>
  <%= link_to "Sign in w/ Facebook", user_omniauth_authorize_path(:facebook), class: 'btn btn-primary' %>
</p>
</div>

<div class="SignIn">
  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-warning' %>
</br>
</br>
  <%= link_to "Topics", topics_path, class: 'btn btn-warning' %>
</br>
</br>
 <%= link_to "Contact", new_contact_form_path, class: 'btn btn-warning' %>
</br>
</br>
  <%= link_to "Sign Out", destroy_user_session_path,:method => :delete, class: 'btn btn-warning'%>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Post and Share</h2>
    <p>Create and share wiki's</p>
  </div>
  <div class="col-md-4">
    <h2>Add-ons</h2>
    <p>Download Wiki's<p>
  </div>
</div>